Sachin-Tendulkar-Career-Analysis/
│
├── dataset/
│   └── sachin_perfomance.csv
│
├── notebook/
│   └── Sachin Tendulkar Career Data Cleaning.ipynb
│
├── sql_queries/
│   └── sachin_career_analysis_project.sql
│
├── powerbi_dashboard/
│   └── Sachin.pbix
│
├── report/
│   └── Sachin_Tendulkar_Career_Analysis_Report.pdf
│
├── presentation/
│   └── Sachin_Tendulkar_Career_Analysis_Presentation.pdf
│
├── screenshots/
│
├── README.md
├── LICENSE
└── .gitignore
